
.pad ()
{
	padding: .8rem;
}

.Chat
{
	.wh(@width; 100vh);
	.margin(auto);
	.flex(column);

	border: 1px solid @tone--slight2;
	border-width: 0 1px;

	& > *
	{
		flex: 0 0 auto;
	}

	& > .Content
	{
		flex: 1 1;
	}

	b
	{
		color: @tone--accent;
	}
}

.Header
{
	background: @tone--slight2;

	.pad;
}

.Content
{
	@ratio: @ratio--content;

	.flex;

	& > .Conversation
	{
		flex: 0 1 @ratio;
	}

	& > .Side
	{
		flex: 0 1 (100% - @ratio);
	}
}

.Conversation
{
	.flex(column);

	& > .output
	{
		.grow;
	}
	& > .input
	{
		.shrink(0);

		.flex;

		border-top: 1px solid @tone--slight;

		& > input[type=text]
		{
			.Text;
			.padding(_; _; _; 1.2rem);
		}

		& > input[type=button]
		{
			.Button;
			margin: .1rem;
		}
	}

	& > .output
	{
		.flex(column-reverse);
		justify-content: flex-start;

		overflow-y: auto;

		font-size: .85em;

		& > .area
		{
			margin: 1rem;
		}

		.reply
		{
			margin: .4em;

			.person
			{
				.bold;

				.margin(_; .2em; _; _);

				&::after { .pseudo(':') }
			}

			&.special
			{
				.margin(_; 1em);

				.italic;
				color: fade(@tone--black, 90%);

				.accent
				{
					.bold;
				}
			}
		}
	}
}

.Side
{
	background: @tone--slight;

	.no-talkee
	{
		padding: 1.5em 0;

		.italic;
		.center;
		font-size: .8em;
		color: fade(@tone--black, 85%);
	}

	.talkee
	{
		.person
		{
			margin: .15em;
			padding: .7em;
			border-radius: .25em;

			font-size: .9em;

			.tone(fade(@tone--black; 85%); rgba(255, 255, 255, .5));
		}
	}
}
