
.Chat
	.Header alias: #[b {{ alias }}]
	.Content
		.Conversation
			.output
				.area
					.reply(v-for='reply in replies')
						template(v-if='! reply.special')
							span.person {{ reply.talkee.alias }}
							span.text   {{ reply.msg }}

						template(v-else)
							.reply.special(v-if='reply.special == "joined"').
								#[span.accent {{ reply.alias }}] joined to conversation
							.reply.special(v-if='reply.special == "leaved"').
								#[span.accent {{ reply.alias }}] leaved conversation

			.input
				input(
					type='text'
					@keypress.enter='send'
					v-model='msg'
					placeholder='input message here…'
				)
				input(
					type='button'
					@click='send'
					value='Send'
				)

		.Side
			//- .no-talkee no people here
			.talkee(v-for='person in talkee')
				.person {{ person.alias }}
