doctype html
html
	head
		meta(charset='utf-8')
		title Chat

		link(rel='stylesheet' href=asset('index.css'))
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')

		script(src='socket.io/socket.io.js')
		script(src=asset('index.js'))
		script(src=asset('~assets/protobuf-browser.js'))

	body
		#app
			router-view
