
@import (css, inline) '/css-default/null.css';
@import (css, inline) '/css-default/box-sizing.css';
@import (css, inline) '/css-default/moz-focus-inner.css';
@import (css, inline) '/css-default/webkit-tap-highlight-color.css';

@import (reference) '/node_modules/axiom/axiom/index.less';

@import 'schema';


html
{
	font-size: 10px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;

	.tone(@tone--black; White);
}


@import '/Chat/Chat';
@import '/Auth/Auth';
@import '/Form/Form';
