
.Input
{
	.block;
	margin: 1em;

	& > i
	{
		.block;
		.margin(_; _; .5em);

		&::after { .pseudo(':') }
	}

	input[type=text]
	{
		.Text;
	}

	input[type=submit], input[type=button]
	{
		.Button;
	}

	&.right
	{
		text-align: right;
	}
}

.Text
{
	.block;
	.wh(100%);

	.tone(Black; White);
	padding: .5em;
}

.Button
{
	.inline-block;
	padding: .7em;
	border-radius: .25em;

	.tone(White; @tone--accent);
	.pointer;
}
